@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #2d2d2d;
    color: #fff;
}

.error{
    color: red;
}

input{

}

p{
    font-size: 1.1rem;
}

input{
    font-size: 1.1rem;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=password]{
    margin-left: 10px;
}
